*, *::after, *::before {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
}

:root {
    --blue: #302b63;
}

body {
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 4px solid #e7cb71;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--blue);
}

.clock::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--blue);
    border-radius: 50%;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.number {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.number1 {
    --rotation: 30deg;
}

.number2 {
    --rotation: 60deg;
}

.number3 {
    --rotation: 90deg;
}

.number4 {
    --rotation: 120deg;
}

.number5 {
    --rotation: 150deg;
}

.number6 {
    --rotation: 180deg;
}

.number7 {
    --rotation: 210deg;
}

.number8 {
    --rotation: 240deg;
}

.number9 {
    --rotation: 270deg;
}

.number10 {
    --rotation: 300deg;
}

.number11 {
    --rotation: 330deg;
}

.hand {
    --rotation: 30;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    position: absolute;
    background-color: var(--blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 10;
}

.hand.second {
    width: 3px;
    height: 45%;
    background-color: rgb(134, 6, 6);

}

.hand.minute {
    width: 7px;
    height: 40%;
}

.hand.hour {
    width: 10px;
    height: 30%;
}